@mixin fz18 {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 16px;
    text-align: center;
}

@mixin fz26  {
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 28px;
}

@mixin fz200  {
    font-family: 'Noto Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 200px;
    line-height: 220px;
    text-transform: uppercase;

}

@mixin icons {
    display: flex;
		flex-direction: row;
		list-style-type: none;

		margin: 0;
		li {
			margin-left: 10px;
		}
		li:nth-child(1) {
			position: relative;
			margin-left: 0;
			&:hover {
				a {
					background-color: #4137D0;
				}
			}
			&::before {
				content: '';
                    position: absolute;
                    top: 50%;
                    right: -20px;
                    transform: translateY(-50%); 
                    width: 2px;
                    height: 39px;
                    background-color: rgba(255, 255, 255, 0.3);
			}
		}
		li:nth-child(2) {
			margin-left: 40px;
			&:hover {
				a {
					background-color: #3B5998;
				}
			}
		}
		li:nth-child(3) {
			&:hover {
				a {
					background-color: #000000;
				}
			}
			
		}
		li:nth-child(4) {
			&:hover {
				a {
					background-color: #C44993;
				}
			}
			
		}
		li:nth-child(5) {
			&:hover {
				a {
					background-color: #FF0000;
				}
			}
		}
		a {
			border-radius: 50%;
			display: flex;
			align-items: center;
			justify-content: center;
			
			width: 46px;
            height: 46px;
			background-color: rgba(255, 255, 255, 0.5);
			img {
				width: 22px;
				height: 22px;
			}
		}
	}

@mixin btn {
    width: 216px;
    height: 60px;
    color: $white-color;
    background: $blue-color;
    border: none;
    font-style: normal;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    &:active {
        background: $active-color;
        border: none;
        outline: none;
    }
    &:hover {
        background: $blue-color;
        box-shadow: 0px 12px 35px rgba(44, 35, 172, 0.55);
    }
}