@mixin fz18 {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 16px;
    text-align: center;
}

@mixin fz26  {
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 28px;
}

@mixin fz200  {
    font-family: 'Noto Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 200px;
    line-height: 220px;
    text-transform: uppercase;

}

@mixin icons {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    &::before {
        content: '';
        position: absolute;
        width: 23px;
        height: 23px;
    }
}