@import 'libs/bootstrap-reboot.min';


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&family=Roboto:wght@400;700&display=swap');
* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
body  {
    z-index: 1;
}
.container {
    width: 1805px;
    margin: 0 auto;
}


@import 'base/variables';
@import 'base/mixins';
@import 'blocks/header';
@import 'blocks/banner';
@import 'blocks/gallary';
@import 'blocks/modal';


.show {
    opacity: 1;
    transition: all 2s;
    z-index: 2;
}
.hidden {
    display: none;
}
