
@media (max-width: 1805px) {
    .banner {
        background-position: 90%;
        &__head {
            font-size: 150px;
            line-height: 130px;
        }
        &__descr {
                ul{
                    padding-bottom: 270px;
                }
            }
    
    }
}
@media (max-width: 1475px)  {
    .banner {
        &__descr {
            ul{
                padding-bottom: 0;
            }
        }
    }
}
@media (max-width: 992px) {
    .banner {
        background: url('../img/banner_768.jpg') no-repeat 50%/cover;
        &__head {
            padding-left: 0;
            font-size: 110px;
            line-height: 100px;
        }
        &__descr {
            padding-bottom: 270px;
            width: 50%;
            ul {
                flex-wrap: wrap;
                width: 100%;
                padding-bottom: 50px;
          
                li {
                    margin: 5px 0 5px 20px;
                    font-size: 20px;
                    
                }
                li:nth-child(2) {
                    margin-left: 40px;
                }
            }
        }
    }
}
@media (max-width: 768px) {
    .banner {
        &__head {
            font-size: 90px;
            line-height: 90px;
            padding-top: 35px;
        }
        &__descr {
            ul {
                padding-bottom: 0;
            }
        }
    }
}

@media (max-width: 716px) {
    .banner {
        &__descr {
            ul {
                li {
                   margin-left: 25px;
                }
            }
         } 
    }
}

@media (max-width: 576px)  {
    .banner {
        background: url('../img/banner_360.jpg') no-repeat 80%/cover;
        &__head {
            font-size: 60px;
            line-height: 65px;
            padding-top: 18px;
            margin-left: 19px;
        }
        &__descr {
            width: 70%;
            margin-left: 19px;
            ul{
                padding-bottom: 207px;
                li {
                    font-size: 14px;
                    line-height: 20px;
                    margin-top: 0;
                    margin-bottom: 0;
                    
                }
            }
        }
    }
}
@media (max-width: 470px)  {
    .banner {
        &__descr {
            ul{
                padding-bottom: 0;
            }
        }
    }
}
@media (max-width: 400px)  {
    .banner {
        &__descr {
            ul{
                padding-bottom: 0;
            }
        }
    }
}