@media (max-width: 1805px) {
    .gallary {
        &__head {
            font-size: 150px;
        }
        &__image-content {
            height: 388px;
            width: 389px;
        }
        .card_1,
        .card_2,
        .card_3,
        .card_4,
        .card_5 {
            width: 389px;
        }
    }
   
}
@media (max-width: 1200px) {
    .gallary {
        &__head {
            font-size: 130px;
        }
        &__card-wrapper .gallary__card:nth-child(even) {
            margin-top: 0;
        }
        &__card-wrapper .gallary__card:nth-child(odd) {
            margin-top: 40px;
        }
    }
}
@media (max-width: 992px) {
    .gallary {
        &__head {
            margin-top: -100px;
            font-size: 85px;
            line-height: 85px;
        }
        &__button {
            display: none;
        }
        &__dots-wrapper {
            margin-top: 17px;
        }
    }
}
@media (max-width: 576px) {
   .gallary {
    margin-top: 20px;
        &__head {
            margin-top: 0;
            margin-left: 19px;
            font-size: 60px;
            line-height: 60px;
        }
        &__image-content {
            height: 202px;
            width: 203px;
        }
        .card_1,
        .card_2,
        .card_3,
        .card_4,
        .card_5 {
            width: 203px;
        }
        
        &__card-content {
            h2,
            p {
                margin-top: 5px;
            }
        }
        &__card-wrapper div:nth-child(even) {
            margin-top: 0;
        }
        &__card-wrapper .gallary__card:nth-child(odd) {
            margin-top: 20px;
        }
        &__slide-container {
            margin-top: 20px;
        }
        &__dots-wrapper {
            margin-top: 0;
        }
        &__divider {
            margin-top: 5px;
            height: 15px;
        }
        &__card {
            margin-left: 20px;
        }
    }
}