.header {
	background-color: $main-color;
	.container {
		display: flex;
		position: relative;
		justify-content: space-between;
		height: 81px;
		align-items: center;
	}
	&__logo {
		display: flex;
		align-items: center;
		
	}
  	&__menu {
		display: flex;
		justify-content: space-around;
		align-items: center;
		width: 1220px;
    	list-style: none;
		margin: 0;
		@include fz18;
		li {
			position: relative;
			a {
				color: $white-color;
				text-decoration: none;
				&:before {
					opacity: 0;
					content: '';
					position: absolute;
					top: 25px;
					left: 50%;
					transform: translateX(-50%);
					width: 5px;
					height: 5px;
					border-radius: 50px;
					background-color: $white-color;
					transition: all 1s;
				}
				&:hover:before {
					opacity: 1;
				}
			}
		}
  	}
	&__burger_icons {
		display: none;
	}
	&__icons {
		@include icons;
	}
}

.hamburger {
	display: none;
}  
