@media (max-width: 1805px) {
    .header {
        &__menu_wrapper {
            width: 51%;
        }
        &__menu {
            width: 100%;
            font-size: 14px;
        }
    }
}

@media (max-width: 1200px) {
    .header {
        position: relative;
        .burger__close {
            display: block;
            position: absolute;
            top: 20px;
            right: 54%;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 44px;
            height: 44px;
            border-radius: 50%;
            background: rgba(255, 255, 255, 0.3);
            border: 1px solid #E9E9E9;
            cursor: pointer;
            z-index: 2000;
        }

        &__menu_wrapper {
            position: fixed;
            top: 0;
            left: -100%;
            width: 100%;
            height: 100vh;
            background-color: #0000007a;
            transition: 0.6s all;
            z-index: 100;
            &_active {
                left: 0;
            }
        }
        &__menu {
            display: flex;
            flex-direction: column;
            width: 49%;
            background-color: $white-color;
            li {
                width: 100%;
                border: none;
                padding: 0 20px 0 20px;
                &:first-child {
                    @include fz18;
                    display: block;
                    line-height: 84px;
                    text-align: left;
                    border-bottom: 1px solid $white-grey-color;
                    color: $grey-color;
                }
                a {
                    @include fz18;
                    display: block;
                    text-align: left;
                    font-size: 16px;
                    color: $grey-color;
                    line-height: 48px;
                    border-bottom: 1px solid $white-grey-color;
                    &:hover:before {
                        opacity: 0;
                    }
                }
            }
           
            
        }
        &__icons {
            grid-template-columns: 76px repeat(3, 46px) 76px 46px;
            li:nth-child(5) {
                position: relative;
                // margin-right: 40px;
                &::before {
                    content: '';
                        position: absolute;
                        top: 50%;
                        left: 66px;
                        transform: translateY(-50%); 
                        width: 2px;
                        height: 39px;
                        background-color: rgba(255, 255, 255, 0.3);
                }
            }
        }
        &__burger_icons_wrapper {
            height: 100%;
            background-color: $white-color;
            width: 49%;
            min-height: 100%;
        }
        &__burger_icons {
            @include icons;
            background-color: $white-color;
            width: 100%;
            padding: 20px 0 20px 20px;
            
            li:nth-child(1) {
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                border-radius: 50%;
                width: 46px;
                height: 46px;
                background-color: $main-color;
                cursor: pointer;
                &:hover {
                    background-color: $blue-color;
                    .love_icon {
                        background: url('../icons/love.svg') center center/contain no-repeat;
                    }
                }
                &::before {
                    background-color: $white-grey-color;
                    left: 64px;
                }
                .love_icon {
                    width: 23px;
                    height: 23px;
                    background: url('../icons/love_hover.svg') center center/contain no-repeat;
                }
            }
            a {
                background-color: $main-color;
                width: 44px;
                height: 44px;
                background-color: $main-color;
                    img {
                        width: 22px;
                        height: 22px;
                    }   
            }
        }
    }
    .hamburger {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 46px;
        height: 46px;
        border-radius: 50%;
        background-color: #4039A1;
        cursor: pointer;
        span {
            display: block;
			height: 2px;
			width: 23px;
			background-color: #FFFFFF;
			margin-bottom: 5px;
			transition: 0.5s all;
        }  
    } 
}
@media (max-width: 992px) {
    .header {
        .container {
            max-width: 720px;
        }
    }
}
@media (max-width: 716px) {
    .header {
        padding: 0 20px 0 20px;
        &__menu {
            width: 69%;
            li {
                a {
                    font-size: 14px;
                }
            }
            li:first-child {
                font-size: 16px;
            }
        }
        &__icons {
            grid-template-columns: 46px;
            li:not(:last-child) {
                display: none;
            }
        }
        &__burger_icons_wrapper {
            width: 69%;
        }
        &__burger_icons {
            grid-template-columns:  repeat(5, 46px);
            row-gap: 15px;
            li:nth-child(1):before {
                display: none;
            }
            li:nth-child(2) {
                grid-column-start: 2;
                grid-column-end: 7;
            }
        }
        .burger__close {
            right: 33%;
        } 
    }
   
}

