.header {
	background-color: $main-color;
	.container {
		display: flex;
		position: relative;
		justify-content: space-between;
		height: 81px;
		align-items: center;
	}
	&__logo {
		display: flex;
		align-items: center;
		
	}
  	&__menu {
		display: flex;
		justify-content: space-around;
		align-items: center;
		width: 1220px;
    	list-style: none;
		margin: 0;
		@include fz18;
		li:nth-child(1) {
			display: none;
		}
		li {
			position: relative;
			a {
				color: $white-color;
				text-decoration: none;
				&:before {
					opacity: 0;
					content: '';
					position: absolute;
					top: 25px;
					left: 50%;
					transform: translateX(-50%);
					width: 5px;
					height: 5px;
					border-radius: 50px;
					background-color: $white-color;
					transition: all 1s;
				}
				&:hover:before {
					opacity: 1;
				}
			}
		}
  	}
	&__burger_icons {
		display: none;
	}
	&__icons {
		@include icons;
		li:nth-child(1) {
			display: flex;
			align-items: center;
			justify-content: center;
			border-radius: 50%;
			width: 46px;
            height: 46px;
			background-color: $white-color;
			cursor: pointer;
			&:hover {
				background-color: $blue-color;
				.love_icon {
					background: url('../icons/love_hover.svg') center center/contain no-repeat;
				}
			}
			.love_icon {
				width: 24px;
				height: 24px;
				background: url('../icons/love.svg') center center/contain no-repeat;
			}
		}
	}
	.burger__close {
		display: none;
	}  
}

.hamburger {
	display: none;
}

