@media (max-width: 1805px) {
    .gallary {
        .slick-dots {
            top: 106.5%;
        }
        .slick-prev {
            top: 105.3%;
        }
        .slick-next {
            top: 105.3%;
        }
    }
}

@media (max-width: 1600px) {
    .gallary {
        .slick-prev {
            left: 47%;
        }
        .slick-next {
            left: 53.1%;
        }
    }
}
@media (max-width: 1400px) {
    .gallary {
        .slick-prev {
            left: 46.5%;
        }
        .slick-next {
            left: 53.6%;
        }
    }
}
@media (max-width: 1200px) {
    .gallary {
        .slick-dots {
            top: 106.5%;
        }
        .slick-prev {
            left: 46%;
            top: 105.3%;
        }
        .slick-next {
            left: 54.1%;
            top: 105.3%;
        }
    }
}
@media (max-width: 1060px) {
    .gallary {
      
        .slick-prev {
            left: 45.5%;
        }
        .slick-next {
            left: 54.6%;
        }
    }
}
@media (max-width: 992px) {
    .gallary {
        .slick-dots {
            top: 105.4%;
        }
        .slick-prev {
            left: 45%;
            top: 104.3%;
        }
        .slick-next {
            left: 55.1%;
            top: 104.3%;
        }
    }
}

@media (max-width: 870px) {
    .gallary {
        .slick-prev {
            left: 44.5%;
        }
        .slick-next {
            left: 55.6%;
        }
    }
}
@media (max-width: 768px) {
    .gallary {
       
        .slick-prev {
            left: 44%;
        }
        .slick-next {
            left: 56.1%;
        }
    }
}
@media (max-width: 630px) {
    .gallary {
        .slick-prev {
            left: 42%;
        }
        .slick-next {
            left: 58.1%;
        }
    }
}
@media (max-width: 576px) {
    .gallary {
        .slick-dots {
            top: 104.6%;
        }
        .slick-prev {
            left: 42%;
            top: 102.8%;
        }
        .slick-next {
            left: 58.1%;
            top: 102.8%;
        }
    }
}
@media (max-width: 550px) {
    .gallary {
        .slick-prev {
            left: 41.5%;
        }
        .slick-next {
            left: 58.6%;
        }
    }
}
@media (max-width: 460px) {
    .gallary {
        .slick-prev {
            left: 39%;
        }
        .slick-next {
            left: 61.1%;
        }
    }
}
@media (max-width: 360px) {
    .gallary {
        .slick-prev {
            left: 37%;
        }
        .slick-next {
            left: 63.1%;
        }
    }
}





